<%= image_tag "logo.png", class: "logo", height: "100", width: "100" %>
<p class="title" style="font-size: 60px;color: #ffffff;float: right;margin-top: 30px;margin-right: calc(100% - 780px);">Travelers RPG</p>
<div class="header">
  <header>
    <ul>
      <li><a href="/" class="btn2 btn">ホーム</a></li>
      <li><a href="#" class="btn4 btn">運営メンバー</a></li>
      <li><a href="/story" class="btn4 btn">ストーリー</a></li>
      <li><a href="/server_system" class="btn4 btn">サーバシステム</a></li>
      <% if logged_in? %>
        <li><%= link_to "ログアウト", logout_path, method: :delete,class: "btn4" %></li>
        <li><a href="/posts" class="btn4 btn">管理者用ダッシュボード</a></li>
      <% else %>
        <li><a href="/login" class="btn4 btn">ログイン</a></li>
      <% end %>
    </ul>
  </header>
  <% if @show_slideshow %>
  <div class="slideshow">
    <div class="slideshow-div"><%= image_tag "slideshow1.png", :class => "slideshow" %></div>
    <div class="slideshow-div"><%= image_tag "slideshow2.png", :class => "slideshow" %></div>
  </div>
  <% end %>

  <div class="newsfeed">
    <% @news.each do |n| %>
      <h4><a href="posts/<%= n.id %>"><%= n.title %></a><br></h4>
    <% end %>
  </div>
  <div class="links">
    <!-- <a class="twitter-timeline" href="https://twitter.com/RpgTravelers?ref_src=twsrc%5Etfw%22%3ETweets by RpgTravelers"></a>
      <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> -->
  </div>
  <style>
    .twitter-timeline {
      background-color: #313131;
    }
  </style>
</div>
